.img-preview {
  max-width: 180px;
  border-radius: 8px;
  border: 2px solid #ddd;
  padding: 4px;
}

.img-brand-list {
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin-right: 10px;
}

.img-brand-list img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}